body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #060234;
    color: wheat;
}

a, a:focus, a:active {
    color: #060234;
    text-decoration: none;
    letter-spacing: .05rem;
}

main .title{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    line-height: 5rem;
}

section {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

section article{
    border-radius: 1rem;
    border: wheat solid 2px;
    padding: 1rem;
    width: 100%;
    background: white;
    color: #060234;
    text-align: center;
    box-shadow: 0px 20px 50px white;
    transform: all 1s ease-out;
}
section article:hover{
    cursor: pointer;
    transform: rotate(10deg);

}

article h2 {
    font-size: 2rem;
    font-family: helvetica;
    font-weight: bold;
}